services:
  xiaoai-local-music:
    image: ghcr.io/sinclairlin/xiaoai-local-music:latest
    container_name: xiaoai-local-music
    restart: unless-stopped
    ports:
      - "8123:8123"
    environment:
      MUSIC_DIR: /music
      CONFIG_DIR: /config
      PORT: "8123"
    volumes:
      - ${MUSIC_HOST_DIR}:/music:ro
      - ${CONFIG_HOST_DIR}:/config
